.fs-main {
    padding: 15px 0;
    background: #f3f3f3;
}
.f-wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.ghg-main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
.ghg-tops {
    padding: 20px 0 10px;
}
.fs-ghlul {
    position: relative;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.fs-ghli {
    position: relative;
    border-bottom: 1px solid #e2e2e2;
}
.fs-ghltb {
    display: table;
    width: 100%;
    padding: 15px;
}
.clearfix {
    zoom: 1;
}
.fs-ghcaif {
    margin-left: 120px;
    position: relative;
}

.fs-ghltd {
    display: table-cell;
    vertical-align: top;
}
.fs-ghplus {
    width: 105px;
}
.fs-ghltb {
    display: table;
    width: 100%;
    padding: 15px;
}
.fs-ghpri1 {
    font-size: 16px;
    color: #3d3d3d;
    margin-bottom: 5px;
}
.fs-ghpltb {
    width: 100%;
    display: table;
}
.fs-ghltb1 img {
    display: inline-block;
    max-width: 90px;
}
.fs-ghltb1 {
    width: 100px;
    padding: 5px;
    float: left;
    text-align: center;
    background: #fff;
}
.fs-ghcatbs {
    display: table;
    width: 100%;
    padding-right: 20px;
}
.fs-ghltd {
    display: table-cell;
    vertical-align: top;
    width: 30%;
}
.fs-ghltb1 {
    display: block;
    width: 100px;
    padding: 5px;
    float: left;
    text-align: center;
    background: #fff;
    border: 1px solid #e2e2e2;
}
.fs-ghltd {
    display: table-cell;
    vertical-align: top;
}
.fs-ghcatbs {
    display: table;
    width: 100%;
    padding-right: 20px;
}
.fs-ghcatbs {
    display: table;
    width: 100%;
}
.fs-ghpri1 {
    font-size: 16px;
    color: #3d3d3d;
    margin-bottom: 5px;
}
.fsghbtn {
    float: left;
    cursor: pointer;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #828282;
    font-size: 22px;
    background-color: #f8f8f8;
    border: solid 1px #dfdfdf;
}
.fs-ghplip {
    float: left;
    width: 40px;
    height: 28px;
    text-align: center;
    font-size: 13px;
    color: #555;
    border: solid 1px #e0e0e0;
    border-left: none;
    border-right: none;
}
.fs-ghdel {

    top: -8px;
    right: 0;
    cursor: pointer;
    color: #b8b8b8;
    font-size: 20px;
}
.fs-ghplip {
    float: left;
    width: 40px;
    height: 26px;
    text-align: center;
    font-size: 13px;
    color: #555;
    border: solid 1px #e0e0e0;
    border-left: none;
    border-right: none;
}
.fs-ghname,.fs-ghpri1{
    margin: 0;
}
.ghg-hds a{
    position: absolute;
    float: right;
}