*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f0f0f0;
	font-size: 14px;
}

/*** Menu*/
#menu-main {
    top: 0;
    background: #fed700;
    height: auto;
    margin-bottom: 10px;
}
.menu-left{
    background: black;
    
}
.menu-left img{ width: 100%;
   height: 100%;
   display: block;
   width: 110%;
    margin-left: -8px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu-left-mobile {
    
}
.search{
    margin-left: -20px;
}
#search-site {
    width: 100%;
    height: 60%;
    margin-left: -100px;
    margin: 10px 10px 0 10px;
    background: #fff;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.topinput {
    position: absolute;
    border-radius: 4px;
    width: 110%;
    height: 100%;
    border: 0;
    background: #fff;
    text-indent: 10px;
    font-size: 13px;
}
.btntop {
    position: relative;
    float: right;
    color: #666;
    margin-right: -20px;
    width: 20%;
    height: 100%;
    background: none;
    border: 0;
}
/**Menu right */
.menu-right{
    margin-left: -15px;
}
.menu-right a {
    display: table-cell;
    width: 70px;
    height: 44px;
    padding: 4px 0 4px;
    color: #000;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    overflow: hidden;
}
.menu-right a:hover{
    background: white;
    text-decoration: none;

}

.menu-right .fas {
    font-size: 24px;
    display: block;
    margin: 2px auto 2px;
    line-height: 30px;
}
.menu-right .icontgdd-maydoitra{
    top: 10px;
    background-image: url(img/tabletpng.png)
  
}
.menu-right img{
    background: none;
    width: 34px;
    height: 26px;
    position: relative;
}
.menu-right a span{
    display: block;
    position: absolute;
    top: 9px;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 11px;
}
.menu-right a.cardsim,
.menu-right a.tragop  {
    text-transform: none;
    font-size: 13px;
    padding: 0;
    vertical-align: middle;
    line-height: 19px;
    border-left: 1px solid rgba(0,0,0,.1);
}
.menu-right .tablet, .menu-right .laptop,
.menu-right .phukien{
    width: 60px;
}
.menu-right .tragop{
   width: 90px;
}

/*slider*/
#sider{

}

#slider .slider-image {
    height: calc(60vh - 65px);
    background-size: cover;
    background-position: center;
    position: relative;
}
#slider:hover{
    display: block;
}
#slider .slider-image img {
    width:100%;
    height:100%;
    display: block;
   
}


.carousel-control-next .fas,
.carousel-control-prev .fas {
    position: absolute;
    font-size: 36px;
    padding: 2px 0 0;
    color: white;
    margin-top: -30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: rgba(0,0,0,.3);
    width: 48px;
    height: 40px;
  
}

.carousel-control-next {
    justify-content: flex-end;
   
}

.carousel-control-prev {
    justify-content: flex-start;

}

.carousel-control-next .fas {
    right: 10px; 
}
.carousel-control-prev .fas {
    left: 10px;  
}


/** Slider right*/
.slider-right{
    margin-left: -20px;

}


.slider-right h2 {
    float: left;
    padding: 10px 20px 10px 10px;
    background: #fdd504;
    line-height: 1.2em;
    font-size: 12px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
.slider-right h2:after {
    content: '';
    width: 0;
    height: 0;
    border-right: 12px solid #fff;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.slider-right .link-new{
    position: relative;
    color: #f33;
    font-size: 12px;
    display: inline-block;
    max-height: 100px;
    vertical-align: middle;
    line-height: 38px;
    
}
.slider-right .text{
     line-height: 1.4;
    display: inline-block;
    vertical-align: middle;
   
}

.slider-right li img{
    float: left;
    width: 100px;
    height: 57px;
    margin: 0 10px 0 0;
    margin-bottom: 10px;
}
.slider-right li h3 {
    display: block;
    overflow: hidden;
    height: 36px;
    line-height: 1.3em;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}
.slider-right li span {
    float: left;
    font-size: 12px;
    color: #999;
    margin-right: 10px;
}
.slider-banner img{
    max-width: 106%;
    min-width: 100%;
    margin-bottom: 10px;
   
}
/* SALE**/
.homepromo{
    border: 1px solid #ff4d00;
    margin-top: 20px;
    overflow: visible;
    padding-top: 40px;
}
.homepromo .sale{
    width: 110%;
}
.homepromo .owl-carousel {
    width: 99%;
    margin-left: 5px;

}

.homepromo .sale img{
    content: ' ';
    display: block;
    width: 25%;
    height:6%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -58px;
   
}

.product-sale .img-sale{
    display: block;
    width: 180px;
    height: 200px;
  
    margin: 15px auto;
    transition: all ease 300ms;
}
.homepromo .product-sale .product_name{
    color: red;
    font-size: 90%;
    text-decoration: none;
    margin-left: 7px;
}
.homepromo .owl-nav{
    position: relative;
    bottom: 180px;
}
.homepromo .owl-nav .fas {
    position: absolute;
    bottom: 5px;
    font-size: 40px;
    margin-left: -13px;
}

.homepromo .owl-next
{
position: absolute;
right: -4px;
padding: 20px 0 0;
margin: 0;
border-radius: 5px 0 0 5px;
width: 34px;
height: 50px;
text-align: center;
font-size: 45px;
color: #999;
font-family: -webkit-body;

}  
.homepromo .owl-prev {
position: absolute;
left: -2px;
padding: 20px 0 0;
border-radius: 0 5px 5px 0;
width: 34px;
height: 50px;
text-align: center;
font-size: 45px;
color: #999;
font-family: -webkit-body;
box-shadow: 0 0 4px 2px rgba(0,0,0,.15);
}
.homepromo .owl-theme .owl-dots .owl-dot {
    display: none;
}
/* PRODUCT */
.list-product{
	min-height: 100px;
	overflow: hidden;
	border: 1px solid #e8e6e2;
	padding: 10px;
	padding-top: -10px !important;
	margin-top: 20px;
	padding-bottom: 0px;

}
.list-product-content{
    margin: 0;
    padding: 0;
    width: 100%;
}
.list-header-z{
	border-bottom: 1px solid #e8e6e2;
    height: 40px;
    margin-bottom: 10px;
}


.list-product .name{
    color: red;
    line-height: 1.3em;
    font-size: 14px;
    padding: 2px 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    
}
.image-product:hover{
    text-decoration: none;
  
}

.list-product h2{
    margin-top: -11px;
}
.list-product h2 a{
    font-size: 50%;
    font-weight: bold;
    padding: 13px 10px;
    text-transform: uppercase;
    color: #ff9800;
    position: absolute;
}

.sub-category {
    float: right;
    width: 100%;
}

.sub-category li{
    float: right;
    list-style: none;
}

.sub-category li a{

    text-decoration: none;
    color: #685e52;
    text-transform: uppercase;
    font-size: 70%;
    color: #288ad6;
    padding: 13px 10px;
    position: relative;
}

.sub-category li a:hover{
    text-decoration: none;
    color: #8ac400;
}

.list-product-content{
    min-height: 100px;
    overflow: hidden;
    padding-top: -10px;
    border-top: 1px solid #e8e6e2;
}
.img-bg
{
    display: block;
    width: 100%;
    height: 180px;
    margin: 15px auto;
    transition: all ease 300ms;
}
.img-bg:hover{
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
 
    }
.price-product-item{
    min-height: 30px;
    overflow: hidden;
    line-height: 29px;
    margin-left: 5px;
}

.price-product-item span{
    display: block;
    float: left;
}

.price-product-item span:first-child{
    color: #8ac400;
    font-size: 15px;
    width: 60%;
    font-weight: 500;
    margin-top: -2px
}

.price-product-item span:nth-child(2){
    width: 40%;
    font-size: 13px;
    text-decoration: line-through;
}

/*banner cuối */
#banner {
    margin-top: 20px;

}
.banner {
    border-top: 1px solid #e8e6e2;
    border:1px solid #e8e6e2;
    
}
.banner h3 a{
    color: orangered;
    font-size: 17px;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 12px;

}

.item-banner {
    width: 100% !important;
    float: left;

}
.item-banner img {
    width: 100% !important;
    padding-bottom: 10px;
}


/** Footer **/
#footer{
   margin-top: 10px;
}
.footer-main{
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #e8e6e2;
}
.colfoot {
    float: left;
    width: 100%;
    margin: 0;
    position: relative;
}
.colfoot li {
    float: none;
    position: relative;
    line-height: 25px;
    font-size: 13px;
    color: #444;
    list-style-type: none;
}
.colfoot li.hidden {
    display: none;
}
.colfoot li p {
    display: block;
    padding-top: 5px;
    line-height: 10px;
    font-size: 14px;
    color: #666;
}
.colfoot li p a{
    display: inline;
    font-weight: 600;
    color: #333;
    padding: 0 5px;
}
.colfoot .bct img{
    height: 70%;
    width: 30%;
}
.group  img{
    width: 120%;
    width: 80%;
    height: 10%;
    display: block;
    border-radius: 2px;
    padding: 1px;
    overflow: hidden;
    clear: both;
}

.copyright1{
    display: block;
    width: 100%;
    margin: auto;
    font-size: 11px;
    color: #999;
    text-align: center;
}

.back-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    height: 50px;
    right:10px;
    color: #fff;
    background-color: #c21d32;
    border-color: #d43f3a;  
    padding: 15px;
    padding-left: 20px;
    line-height: 1.33333;
    font-size: 18px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    opacity: 0.5;

}
.back-top:hover{
    opacity: 1;
}

.back-top .fas{
    color: #000;
    font-size: 26px;
    text-align: center;
    transform: rotate(90deg);

 
}
   


