.mobile {
    display: none !important;
}
@media screen and (max-width: 769px) and (max-width: 992px) {
 
 
    .btntop{
        float: right;
           width: 30px;
    }
    .mf-pkl{
        width: 100%;
    }
    .sale-product{
        margin-left: 10px;
    }
   
     
  }
@media screen and (max-width: 768px) {
    #getphonebig .product-one:nth-child(2) ,#getphone .product-one:nth-child(2n) {
        display: none;
       
    }
    
    #menu-main{
        background-color: black;
        height: 100%;

    }
    .desktop , .slider-right {
        display: none !important;
    }
    
    .mobile {
        display: block !important;
        padding-top: 5px;
    
      
    }
    .mobile img{
        width: 36px;
        height: 36px;
        margin-left: -15px;
    }
    .mobile .topinput{
        width: 105%;
        margin-left: -20px;

    }
    .mobile .btntop{
        padding-top: 5px;
    }
    .mobile .bars .fas {
        color: white;
        padding: 8px 10px;
        margin-left: 10px;
        border: 1px solid white;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    /** menu mobile */
   
    .menu-mobile{
        background: rgba(0,0,0,.75);
        position: fixed;
        left: 0;
        display: none;
        transition: .3s;
        z-index: 99;
        height: 100%;
        top: 0;
        text-align: center;
        transition: height 0.5s ease-in-out;
    }
    .menu-mobile .open{
        display: inline-block;
    }
    .colse-menu{
        margin-top: -5px;
        height: 45px;
        background: #fff;
        width: 17%;
        float: right;
    }
     .colse-menu img{
        background: #fff;
        width: 75%;
        margin-top: 8px;
        
    }
    

    .navigation {
    display: block;
    overflow: hidden;
    background: #fff;
    position: relative;
    width: 100%;
    z-index: 11;
    margin-top: -10px;
    padding-top: 10px;
    }
    .menu-mobile a{
    float: left;
    width: 22%;
    height: 53px;
    margin: 0 0 1.9% 1.9%;
    background: #e3e3e3;
    border: 1px solid #bbb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#e5e5e5),to(#fff));
    background: -webkit-linear-gradient(top,#fff,#e5e5e5);
    }
    .navigation a h3 {
        display: block;
        font-size: 12px;
        color: #000;
        text-align: center;
        line-height: 1.3em;
    }
     .navigation a h4 {
        display: block;
        font-size: 12px;
        color: #000;
        text-align: center;
        line-height: 18px;
        margin: 9px 0 0;
    }
    .navigation a h5 {
        display: block;
        font-size: 12px;
        color: #000;
        text-align: center;
        line-height: 18px;
        padding: 18px 0;
    }
    .navigation .fas{
        font-size: 20px;
        color: #000;
        display: block;
        margin: 2px auto 2px;
        line-height: 30px;
    }
     .buycall{
        padding-bottom: 15px;
    }
    .buycall .fas{
      display: inline;
      color: mediumblue;

    }
    #slider {
        width:109%;
        margin-left: -15px;
        margin-top: -10px;
    }
    #slider .slider-image {
        height: calc(23vh - 50px);
        background-size: cover;
        background-position: center;
        position: relative;
    }
    
    #slider p{
        font-size: 14px;
        color: black;
    }
    
    /** Salle**/
    .homepromo{
        padding-top: 0;
    }
    .homepromo .sale img{
    width: 55%;
    height:4%;
    margin-top: -18px;
    z-index: 10;
  
    }

    .product-sale {
        font-size: 14px;
    }

    .product-sale .img-sale{
        height: 160px;
    }
    
    .product-sale{
        padding-top: 10px;
        border: 1px solid #f4f4f8;
        border-radius: 5px;
        background: white;
        margin-top:15px;
    }

    /** Product Phone */
    .list-product h2 {
        padding-bottom: 35px;
        font-size: 35px;
    }
    .viewall {
        display: block;
        overflow: hidden;
        border: 1px solid #ececec;
    }
    .viewall .center {
        display: block;
        overflow: hidden;
        position: relative;
        line-height: 40px;
        font-size: 14px;
        color: #288ad6;
        border-bottom: 1px solid #eee;
        text-align: center;
        padding: 0 10px;
    }

    /** phụ kiện **/
    .mf-pkl{

    }
    
    .mf-pkl ul {
        border-top: 1px solid #ebebeb;
        border-left: 1px solid #ebebeb;
        height: 100%;
        padding-bottom: 0;
        margin-bottom: 0;
       
      
    }.mf-pkl ul li {
        float: left;
        width: 25%;
        text-align: center;
        list-style: none;
        border-right: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
    }
    .mf-pkl ul li a{
        height: 100%;
    }
    .mf-pkl ul li img {
        width: 80px;
        height: 80px;
        margin: 9px 0 5px;
    }
    .mf-pkl ul li h3 {
        font-size: 12px;
        height: 17px;
        margin-bottom: 3px;
        overflow: hidden;
        text-align: center;
        color: #333;
    }  
    /** banner bottom**/
    .banner h3{
        text-align: center;
        font-size: 14px;
        margin-left: 5px;
    }
    .swiper-container{
        width: 90%;
    } 
    .swiper-slide img{
        width: 100%;
        height: 100%;
        margin-left: 0;
    }

}