body, input, button, option, textarea, label, legend, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    color: #333;
    outline: none;

    max-width: 100%;
    zoom: 1;
} 
@media (min-width: 768px) and (max-width: 1023px){ 
    .area_promotion .onlinepromo b {
        display: none;
    }
    .area_order .buy_repay{
        width: 100% !important;
    }
    .title-sliderfix{
        display: none;
    }
    .fs-dttabs ul li:nth-last-child(1){
        margin-left: 0;
    }
 }
    img {   
    max-width: 100%;
    }

    .preview { 
    margin-bottom: 20px;
    
    }
    .preview-thumbnail.nav-tabs {   
    border: none;   
    margin-top: 15px;
    }
     
    .preview-thumbnail.nav-tabs li {    
    width: 18%; 
    margin-right: 2.5%;
    }
     
    .preview-thumbnail.nav-tabs li img {    
    max-width: 100%;    
    display: block;
    }
     
    .preview-thumbnail.nav-tabs li a {  
    padding: 0; 
    margin: 0;  
    cursor:pointer;
    }
     
    .preview-thumbnail.nav-tabs li:last-of-type {   
    margin-right: 0;
    }
     

#conten{
    width: 100%;
}
.title {
    display: block;
    overflow: hidden;
    margin-left: 10px;

    margin-bottom: 0;
    
}
.title ul{
    padding: 0;
}
.title h4{
    text-align: center;
}


.title li {
    display: inline;
    vertical-align: middle;
    overflow: hidden;
}
.title li a {
    display: inline-block;
    white-space: nowrap;
    font-size: 14px;
    color: #288ad6;
    padding: 0 10px 0 0;
}
.rowtop{
    height: 100%;
    width: 100%;
}
.name h3{
    margin-top: 10px;
    font-size:x-large;
}
.ratting {

    float: left;
}
.name{
    width: 100%;
    padding-left: 10px;
    border-bottom: 1px solid #f2f2f2;
}
.dttname {
    font-size: 23px;
    color: #3d3d3d;
}
.name .nosku{
        font-size: 12px;
        color: #666;
       
}
.number-rt{
    display: inline-block;
    padding-left: 20px;
    font-size: 13px;
    color: #9b9b9b;
    cursor: pointer;
}
.wapper{
    width: 100%;
    margin-top: 5px;
    background: #f2f2f2;
    height: 100%;

}
.picture img {
    display: block;
    height: auto;
    max-height: 100%;
    margin: auto;
    cursor: pointer;
    max-width: 100%;
    width: 100%;
}
.fs-dtszoom {
    padding: 15px 0;
    font-size: 14px;
    color: #9b9b9b;
    text-align: center;
}
/** Price **/

.area_price strong {
    display: inline-block;
    overflow: hidden;
    font-size: 24px;
    color: #e10c00;
    vertical-align: middle;
    margin-right: 10px;
}
.area_price label.installment {
    background: #f28902;
    margin: 0 0 0 5px;
}

.area_price label {
    display: inline-block;
    position: relative;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #fff;
    border-radius: 3px;
    padding: 0 5px 0 8px;
    margin: 0 0 5px 5px;
    height: 18px;
}

label.installment {

    position: relative;
    display: inline-block;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0 5px 0 8px;
    margin: 0 0 5px 5px;
    height: 18px;
}
.tsh {
    background-color: #ecf7ed;
    border-radius: 3px;
    border: solid 1px #c4ddc8;
    margin: 5px 0px 10px;
    padding: 0 10px;
    font-weight: bold;
    line-height: 30px;
 

}
.tsh span {
    line-height: 30px;
    padding-left: 10px;
    border-left: 1px solid #c4ddc8;
    display: block;
    margin-left: 28px;
}
.tsh:before {
    content: '';
    background: url(../img/icon/time.png);
    width: 19px;
    height: 21px;
    background-size: 19px 21px;
    margin-right: 10px;
    float: left;
    margin-top: 4px;
}
.tsh span a {
    color: #30a43b;
    text-emphasis: none;
}
.area_promotion {
    width: 100%;
    display: block;
    width: 100%;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
    background: #fff;
    padding-bottom: 10px;
}
.area_promotion strong {
    display: block;
    overflow: hidden;
    font-size: 15px;
    color: #333;
    padding: 15px 15px 10px 15px;
    text-transform: uppercase;
}
.area_promotion .infopr span {
    display: block;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    padding: 0 15px 5px 30px;
}
.area_promotion .infopr span:before {
    content: '';
    margin-left: -20px;
    background: url(../img/icon/check.png);
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    margin-right: 0;
    float: left;
    margin-top: 2px;
}
.area_promotion .onlinepromo {
    border: #d0021b solid 1px;
    border-radius: 4px;
    padding: 10px 0 10px;
    position: relative;
    overflow: visible;
    margin: 20px 10px 0;
}
.pro-img ul li label {
    display: block;
 
    list-style: none;
}
.pro-img ul li label img {
    display: block;
    width: 50px;
    float: left;
    padding: 0;
    margin-left: -25px;
    margin-right: 10px;
    cursor: pointer;
}

.area_promotion span{
    display: block;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    padding: 10px 35px 5px 15px;
}
.area_promotion .pro-img ul{
    list-style: none;
}
.area_promotion .onlinepromo b {
    background: #ec1933;
    border-radius: 13px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top: -13px;
    left: 10px;
    vertical-align: middle;
    line-height: 26px;
    clear: both;
    padding: 0 15px 0 30px;
}
.area_promotion .onlinepromo b:before {
    content: '';
    background: url(../img/icon/gift.png);
    width: 16px;
    height: 15px;
    background-size: 16px 15px;
    float: left;
    margin: 4px 5px 0 -15px;
}
.iconmobile-uncheck {
    background-position: -145px -30px;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 5px;
}
.option-repay, .option-shiper {
    padding: 10px 0px;
    cursor: pointer;
    font-size: 15px;
}
.area_order {
    display: block;
    overflow: hidden;
    width: 100%;
    padding-left: 5px;

}
.area_order span {
    display: block;
    font-size: 13px;
    color: #fff;
    text-transform: none;
    padding-top: 3px;
}
.area_order .buy_now {
    display: block;
    overflow: hidden;
    width: 98%;
    padding: 7px 0;
    border-radius: 4px;
    font-size: 16px;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background: #fd6e1d;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fd6e1d),to(#f59000));
    background: -webkit-linear-gradient(top,#f59000,#fd6e1d);
    background: -moz-linear-gradient(top,#f59000,#fd6e1d);
    background: -ms-linear-gradient(top,#f59000,#fd6e1d);
    background: -o-linear-gradient(top,#f59000,#fd6e1d);
}

.area_order .buy_repay {
    line-height: normal;
    display: block;
    padding: 7px 0;
    text-align: center;
    margin: 10px 0 0;
    background: #288ad6;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 15px;
    text-transform: uppercase;
    width: 47%;
    float: left;
}
.area_order .buy_repay s{
    margin-left: 5px;
}

.callorder span {
    display: inline-block;
    margin-left: 35px;
}
.policy {
    display: block;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding-bottom: 5px;
    margin-bottom: 10px;
 
    padding-top: 10px;
}
.policy li:first-child {
    padding-top: 0;
}
.policy .inpr {

}
.policy li {
    display: block;
    overflow: hidden;
    padding: 5px 0 5px 28px;
    font-size: 14px;
    color: #333;
    margin-left: -20px;
    line-height: 20px;
    border-bottom: solid 1px #f0f0f0;
    position: relative;
}
.policy li a {
    color: #288ad6;
}
.policy .inpr:before {
    content: '';
    background: url(../img/icon/box.png) 0 0 no-repeat;
    width: 19px;
    height: 16px;
    background-size: 19px 16px;
    position: absolute;
    display: block;
    top: 4px;
    left: 0;
}
.policy .wrpr:before {
    content: '';
    background: url(../img/icon/baohanh.png) 2px 0 no-repeat;
    width: 19px;
    height: 23px;
    background-size: 16px 23px;
    position: absolute;
    display: block;
    top: 8px;
    left: 0;
}
.promote {
    margin: 20px 0 10px;
    padding: 20px 10px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
    position: relative;
}
.promote b {
    display: block;
    padding: 2px 8px;
    position: absolute;
    background: #fff9b4;
    border: solid 1px #e8dd58;
    text-align: center;
    top: -10px;
    left: 10px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.4;
    border-radius: 2px;
}
/** product-type**/

.product-type{
background: white;
height: 100%;
 border: 1px solid #e7e7e7;

}
.product-type a{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
   
.product-type .image{
    background: white;
    padding-top: 20px;

}
.image:hover{
    border: 1px solid #e7e7e7;
    box-shadow: #9b9b9b;
    box-shadow: 5px 5px 5px #666;
    
}
.product-type .image img{
    padding-top: 10px;
    image-rendering: pixelated;
    height: 200px;
}
.image .title-pro{
    text-align: center;
    outline: none;
    display: inline-block;

   overflow: hidden;
    text-decoration: none;
    color: #000;
}
.image p{
    text-align: center;
    color: #d71616;
    font-weight: bold;
}

/** about product**/
#slider-pro{
    margin-top: 20px;
    border: 0 1px solid #e3e3e3;

    position: relative;
   
 
}
.swiper-container{
    width: 98%;
    border-radius: 2px;
}
.swiper-slide img{
    widows: 100%;
    background-size: cover;
    background-position: center;
    display: block;  
}
#about{
    width: 100%;
    padding: 0;
    background: white;
    border: 0 1px solid #2ba832;
}
.about-pro{
    padding: 15px;
    width: 100%;
    border: 0 1px solid #2ba832;
}
.about-pro ul{
    list-style: none;
    padding: 0;
}
.about-pro ul li {
    display: table;
    background: #fff;
    width: 100%;
    border-top: 1px solid #eee;
    padding: 5px 0;
}
.about-pro ul li label {
    width: 100px;
    font-size: 14px;
    color: #616161;
}
.about-pro ul li span {
    color: #3d3d3d;
    font-size: 15px;
}
.about-pro ul li label, .about-pro ul li span {
    display: table-cell;
    vertical-align: top;
}
.fs-dttop {
    text-align: center;
    width: 100%;
    height: 46px;
    padding: 11px 15px;
    border-bottom: 1px solid #e3e3e3;

}
.fs-dttop h4{
    font-size: 20px;
}
.chitiet span {
    cursor: pointer;
    display: block;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 13px;
    color: #337ab7;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #337ab7;
}
.title-slider{
    width: 100%;
    height: 100%;
    background: white;
    padding: 0;
}

.title-sliderfix{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    width: 102%;
    z-index: 5;
} 
.title-sliderfix ul{
    width: 2000px;
    background: #313131;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5)
}
.title-slider .fs-dttabtop{
    padding: 0 15px;
    border-bottom: 1px solid #e3e3e3;
}
.title-slider ul{
  
    list-style: none;
    width: 100%;
    margin-bottom: 2px;
    margin-left: -23px;
}

.title-slider ul li {
    display: inline-block;
    text-align: center;
     padding-right: 30px;
}
.title-slider ul li:hover{
    text-decoration: none;
   
}
.title-slider .title-sliderfix li:nth-child(1){
    margin-left: 70px;
}
.title-slider .title-sliderfix li a{
    color: white;
    font-size: 15px;
}
.title-slider ul li a {
    height: 46px;
    display: block;
    font-size: 18px;
    padding-top: 14px;
    line-height: 1.22;
    color: #3d3d3d;
    text-decoration: none;
    text-align: right;
    border-bottom: 3px solid transparent;
}

.fs-mncalls {
    position: absolute;
    top: 0;
    right: 175px;
    display: none;
    line-height: 1;
    padding-top: 8px;
}
.fs-mncalls span {
    display: block;
    font-size: 11px;
    color: #f1f1f1;
    white-space: nowrap;
}

.title-sliderfix li:nth-child(1){
    margin-left: 100px;
}
.title-sliderfix ul li a{
    color: white;
 
}.phone{
    position: absolute;
    top: 0;
    right: 280px;
    line-height: 1;
    padding-top: 8px;

} 
.phone:hover{
    text-decoration: none;
  
}
.phone .fas{
    float: left;
    margin-right: 5px;
    font-size: 25px;
    width: 28px;
    height: 28px;
    background-position: -131px -86px;
    
    
}
.phone .fas:hover{
    transform-origin: 100% 100%;
    animation: swing 1s infinite;
    color: red;

}
@keyframes swing {
    0%, 50%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
}

.title-slider .phone span {
    display: block;
    font-size: 11px;
    color: #f1f1f1;
    white-space: nowrap;
    
}
.phone strong {
    display: block;
    font-size: 19px;
    font-weight: bold;
    color: #ff9f00;
    white-space: nowrap;
    padding-bottom: 4px;
}
.addcart {
    position: absolute;
    top: 6px;
    right: 100px;
    text-align: center;
    color: #fff;
    width: 128px;
    height: 34px;
    line-height: 34px;
    border-radius: 2px;
    background-color: #d0021b;
}
.addcart:hover{
    color: white;
    text-decoration: white;
    z-index: 2;
    padding: 2px;
}

/**new**/
.new{
   padding-left: 10px;
   background: white;
}
.new ul {
    list-style: none;
    margin-left: -35px;
    margin-top: 10px;
}

.fs-dtrbv ul li a img {
    width: 90px;
    float: left;
}
.fs-dtrbv ul li a h3 {
    margin-left: 100px;
    line-height: 1.29;
    color: #505050;
    font-size: 15px;
}
.fs-dttop h2 {
    font-size: 18px;
    color: #3d3d3d;
    text-align: center;
}

.fs-dtrvm {
    text-align: center;
}
.docthem, .rutgon {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 75px;
    text-align: center;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,.91) 50%,rgba(255,255,255,1) 55%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,.91)),color-stop(55%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,.91) 50%,rgba(255,255,255,1) 55%);
    background: -o-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,.91) 50%,rgba(255,255,255,1) 55%);
    background: -ms-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,.91) 50%,rgba(255,255,255,1) 55%);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,.91) 50%,rgba(255,255,255,1) 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0);
}
.docthem span, .rutgon span {
    cursor: pointer;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    font-size: 13px;
    color: #3d3d3d;
    background: #fff;
    border: solid 1px #b2b2b2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/** chi tết sản phẩm */

.detail-pro , .detail-pro1{
    background: rgba(0,0,0,.75);
    position: fixed;
    left: 0;
    right: 0;
    display: none;
    transition: .3s;
    height: 100%;
    z-index: 5;
    top: 0;
    text-align: center;
    transition: height 0.5s ease-in-out;
}

.detail-pro .scroll {
    background: white;
    top: 15px;
    right: 0;
    display:none;
    overflow-x: scroll;
    left: 0;
    max-width: 93%;
    bottom: 0;
    z-index: 99;
    margin: 0 auto

    
}

.detail-pro .scroll .fas {
    width: 10%;
    height: 0;
    font-size: 30px;
    margin-right: -1rem;
}

.detail-pro .scroll h3 {
    display: inline-block;
    font-size: 18px;
    color: #666;
    margin-top: 15px;
    margin-left: 0;
    width: 80%;
    line-height: 1.3em;
}
.detail-pro .scroll img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.detail-pro .scroll ul{
    width: 90%;
}
.detail-pro .scroll ul li{
    list-style: none;
}
.detail-pro li {
    display: table;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #dadada;
}
.detail-pro li label {
    display: block;
    background: #f2f2f2;
    font-size: 16px;
    font-weight: 600;
    color: #c0392b;
    padding: 8px;
}
.detail-pro li span {
    display: table-cell;
    width: 35%;
    vertical-align: top;
    padding: 6px 5px;
    font-size: 13px;
    color: #666;
    font-weight: 600;
}

/* Phụ kiên*/
.phukien {
    background: white;
    height: auto;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.phukien ul {
    list-style: none;
    width: 100%;
    margin-left: -35px;
    margin-top: 10px;

}
.phukien ul li :hover{
    text-decoration: none;
}
.phukien img{
    width: 80px;
    float: left;
}
.phukien .fs-dtrpkif a h3{
    line-height: 1.29;
    color: #505050;
    vertical-align: baseline;
    text-decoration: none;
    margin-bottom: 9px;
    font-size: 14px;
}
.phukien p{
    color: #d0011b;
}
.phukien h2{
    font-size: 18px;
    color: #3d3d3d;
    max-width: 100%;
}

/** đánh giá **/
.danh-gia{
    background: white;
   
}
.danh-gia h5{
    text-align: center;
    padding-left: 20px;
}
.danhgia-1{
    text-align: center;
    color: #4a4a4a;
    border: 1px solid #d8d8d8;

}
.danhgia-1 h5 {
    font-size: 20px; 
    color: #3d3d3d;
    margin-bottom: 8px;
    text-align: center;
    padding-top: 20px;
}
.danhgia-1 span{
    color: orange;
}
.danhgia-1 p{
    font-size: 13px;
}
.danhgia-2{
    border-top:  1px solid #d8d8d8;
    border-bottom:  1px solid #d8d8d8;
}
.danhgia-2 .rcrt span.t i {
    background: url(../img/icon/ratting.png);
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
    display: inline-block;
}
.danhgia-2 .rcrt .bgb {
    width: 55%;
    background-color: #e9e9e9;
    height: 5px;
    display: inline-block;
    margin: 0 10px;
    border-radius: 5px;
}
.danhgia-2 .rcrt .bgb .bgb-in {
    background-color: #f25800;
    background-image: linear-gradient(90deg,#ff7d26 0%,#f25800 97%);
    height: 5px;
    border-radius: 5px 0 0 5px;
}
.danhgia-2   .rcrt span.c {
    display: inline-block;
    font-size: 12px;
    color: #288ad6;
    cursor: pointer;
}
.danhgia-3{
    padding: 15px;
    text-align: center;
    border: 1px solid #d8d8d8;
}
.danhgia-3 h4{
    font-size: 16px;
    color: #4a4a4a;
    margin-bottom: 15px;
}
.send-dg{
    cursor: pointer;
    height: 34px;
    line-height: 34px;

    color: #fff;
    background: #d0021b;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
#send{
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 10px 0px;
    border-radius: 4px ;
}
.form-in {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-top: 5px;
    color: #288ad6;
  
}

.form-in textarea {
    font-size: 14px;
    color: #999;
    padding: 5px;
    margin: 5px 0;
    width: 100%;
    height: 78px;
    resize: none;
    border: none;
    box-sizing: border-box;
}
.form-in .camera{
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        background: #f7f7f7;
        border-top: 1px solid #ddd;
        cursor: pointer;
  
}
.form-in .camera i{
    margin: 7px;
    font-size: 14px;
  
 
}
.thongtin{
    box-sizing: border-box;
  
}
.thongtin input {
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 14px;
    color: #999;
    padding: 5px;

    margin: 5px 0;
    height: 40px;
    display:inline-block;
    margin-right: 10px;
    color: #333;
}
.thongtin button {
    background: #288ad6;
    border: 1px solid #288ad6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 14px;
    color: #fff;
    padding: 9px 0;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
}

/** commnet*/
.list-comment{
    border: 1px solid #f2f2f2;
    margin-top: 10px;
    background: white;

}
.comment{
    padding-right: 20px;
    margin: 10px;
   
}  
.name{
    padding: -5px;
}
.name span{
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    text-transform: capitalize;
}
.name label{
    cursor: pointer;
    color: #2ba832;
    font-size: 13px;
}
.name img{
    background-position: -220px -82px;
    width: 13px;
    height: 13px;
    margin: -4px 4px 0 7px;
}
.rc .far{
    color: #c0392b;
}
.like{
    margin-top: -15px;
}
.camera{
    height: 43px;
}
.btnsend{
    padding: 5px 20px;
    font-size: 14px;
    float: right;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #288ad6;
    border-radius: 4px;
    background: #288ad6;
    margin: 0;

}
 .page{
    padding: 10px 10px 10px 50px;
    text-align: center;
    transform: scaleX(1);
    width: 100%;
 }
.wrap_popup{
    display: none;
    overflow: hidden;
    position: relative;
    max-width: 480px;
    margin: auto;
    background: #fff;
    margin-top: 5%;
    border-radius: 5px;
}
.titlebar {
    display: block;
    overflow: hidden;
    padding: 10px;
    font-size: 17px;
    color: #333;
    border-bottom: 1px solid #f2f2f2;
    font-weight: bold;
}
.titlebar .fas{
    float: right;
    position: relative;
    right: 13px;
    color: #b8b8b8;
    font-size: 20px;
    cursor: pointer;
    
}
.forminfo{
    display: block;
    overflow: hidden;
    background: #fff;
    padding: 10px;
  
}
 .radio {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: -15px;
}
.forminfo input {
    display: block;
    padding: 8px;
    width: 100%;
    margin: 10px 0;
    height: 35px;
    border: 1px solid #dadada;
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}
.forminfo button{
    display: block;
    width: 100%;
    margin: 0 auto 10px;
    padding: 8px;
    height: 40px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #4a90e2;
    border-radius: 4px;
    background: #4a90e2;
    cursor: pointer;
}
.f-cmuser {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    line-height: 31px;
    background-color: #b3b3b3;
    margin-right: 5px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
}
.f-cmt-ask {
    display: block;
    overflow: visible;
    margin: 10px 0 5px;
    padding-bottom: 5px;
}
.f-cmname {
    font-size: 15px;
    color: #505050;
    font-weight: bold;
}
.f-cmtime {
    font-size: 13px;
    color: #9b9b9b;
    margin-left: 8px;
}
.answer-comment {
    margin-left: 15px;
}

.like-comment, .answer-comment {
    color: #007aff;
}
.answer-comment {
    margin-left: 15px;
}
.like-comment, .answer-comment {
    color: #007aff;
}
.f-cmpost {
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    color: #18487a;
}
.list {
    border: 1px solid #e7e7e7;  
    margin-top: 10px;
    background: white;
}
.list-cm{
    margin-top: 10px;
    margin: 10px;
}
.f-cmbott {
    margin: 0 0 0 38px;
    display: block;
    padding: 8px 0 5px;
}
.f-cmt-reply {
    display: block;
    margin-top: 10px;
    position: relative;
    background: #f1f1f1;
    border: 1px solid #e7e7e7;
    padding: 0 10px 5px 10px;
    font-size: 14px;
    color: #333;
    margin-left: 30px;
}
.f-cmt-reply:before {
    content: '';
    position: absolute;
    top: -9px;
    left: 30px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #f4f4f4;
}
.f-cmqtv {
    background: url(../img/icon/admin.png) no-repeat center;
    text-indent: -99999px;
}

.f-cmuser {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    line-height: 31px;
    background-color: #b3b3b3;
    margin-right: 5px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
}
.f-cmadm {
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    background: #d0011b;
    padding: 1px 6px;
    margin-left: 8px;
}
 /** slider */
 .dtbox{
    
    max-width: 100%;
    overflow: visible;
    padding-top: 40px;
 }
 .dtbox .dttop{
     
     border-bottom: 1px solid #b3b3b3;
 }
 .imggaraly{
     margin-top: 15px;
     padding: 10px;
 }

 /** about **/
 .dtctbox {
     text-indent: 20px;
 }



 @media screen and (max-width: 767px) { 
   
   .title-sliderfix, .quydinh{
       display: none;
   }
   .khuyenmai h4 {
       text-align: center;
       
   }
    .option-shiper{
        padding: 5px;
    }
   .swiper-slide img {
       padding-top: 5px;
   }
   
 }








 